.p1 {
    color: rgb(0, 0, 0);
    padding-left: 80px;
    font-size: 25px;
    padding-top: 40px;
    
}

.div-header {
    background-color: rgb(224, 74, 224);
    width: 1550px;
    height: 130px;
   margin: -25px;
}

.form {
    padding-left: 590px;
}



