* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
    color: #333;
  }

  body {
    background-image: url(img/bg.jpg);
    background-size: cover;
  }

.container{
  border-radius: 15px;
  background-color: white;
  height: 450px;
  max-width: 450px;
  margin: 3rem auto 0 ;
  padding: 1.5rem;
}

.container header{
  align-items: center;
}

.form-control button {
  border-color: rgb(83, 83, 249);
  width: 15px;
  height: 19px;
}
