/* flex */

.flex  {
   display: flex;
    color: red;
}

.flex p {
    padding-left: 20px;
}

/* flexdirection */
.flexdirection-column{
    color: green;
    display: flex;
    flex-direction: column;
}

/* wrap */

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid blue;
}

/* justify content */

.justify-content {
    display: flex;
    justify-content: center;
}

.justify-content .box {
    width: 50px;
}

/* align-itens */
.align-itens{
    align-items: center;
}

.align-itens .box {
    width: 50px;
}

/* gap */
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box {
    width: 32%;
}

/* order */
.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}



