*{
    padding: 0;
    margin: 0;
  }

  body {
    background: linear-gradient(to right, rgb(139, 71, 247), rgb(86, 26, 183))
}

#container {
  align-items: center;
  justify-content: center;
  border: 3px solid purple;
  width: 450px;
  height: 550px;
  margin-left: 28rem;
  margin-top: 5rem;
  background-color: white;
}

#form{
  padding: 2px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#form h1 {
  font-size: 35px;
}
#form h4{
  color: rgb(69, 68, 68);
  font-size: 13px;
}
#form h3 {
  padding: 10px;
}

#form p {
  margin: 5px;
  font-size: small;
  color: rgb(63, 60, 60);
}

#form span {
  color: blue;
}
.input-form{
  width: 16pc;
  height: 2pc;
  border: none;
}

.input-form required{
  color: red;
}

