#ul1 {
    color: green;
}

body {
    padding-bottom: 500px;
    background-color: rgb(144, 163, 157);
}

.paragraph {
    background-color: black;
    padding: 5px;
}

#paragraph {
    background-color: aqua;
    color: green;
    padding: 5px;
}

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 2px solid blue;
}

#algum-titulo {
    border-bottom: 3px solid green;
}

/* cores css */
.color-name {
    color: lavender;
    font-size: 20px;
}

/* se #ffffff pode ser #fff ou #112233 pode ser #123 */
.hex {
    color: #5544dd;
    font-size: 20px;
}

.hex2 {
    color: #d70;
    font-size: 20px;

}