#ul1 {
    color: green;
}

body {
    padding-bottom: 500px;
    
}

.paragraph {
    background-color: black;
    padding: 5px;
}

#paragraph {
    background-color: aqua;
    color: green;
    padding: 5px;
}

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 2px solid blue;
}

#algum-titulo {
    border-bottom: 3px solid green;
}

/* cores css */
.color-name {
    color: lavender;
    font-size: 20px;
}

/* se #ffffff pode ser #fff ou #112233 pode ser #123 */
.hex {
    color: #5544dd;
    font-size: 20px;
}

.hex2 {
    color: #d70;
    font-size: 20px;

}

.rgb{
  color: rgb(255,0,100);
}


.rgb2{
    color: rgb(70,120,220);
}

.rgba {
    color: rgba(50,0,200,1);
}

.hsl {
    color: hsl(100, 10%, 80%);
}

.hsl2 {
    color: hsl (200, 30%, 30%);
}


.Back-1 {
    background-color: #000;
    color: yellow;
}

.Back-2 {
    background-color: blue;
    color: black;
}


.bg-opacity {
    background-color: green;
    opacity: 0.9;
    font-size: 30px;
}

.rgba-opacity {
    font-size: 25px;
    background-color: rgba(70, 120, 20, 0.5);
    color: #000;
}

.BG-img {
    background-image: url("assets/nature.avif");
    color: #fff;
    padding: 10px;
} 
 /* ctrl + space to find img  and URl("..")  to find a img in other folder  */

 .BG-img2 {
    background-image: url("assets/bridge.jpg");
    color: #fff;
    padding: 10px;
} 

.not-centered-bg, .centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("assets/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}